<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/navbar.css">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <a href="/">Resume</a>
        <a href="/contact">Contact</a>
        <a href="/admin">Admin</a>
        <a href="https://github.com/AaronB22">Github</a>
        <a href="https://www.linkedin.com/in/aaron-bailey-2843303a4/">LinkedIn</a>

    </div>
    
</body>
</html>