<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Aaron Bailey</title>
      <link rel="icon" href="./imgs/icon.png">
      <link rel="stylesheet" href="styles/contact.css">
</head>
<body>
    <main>
        <h1>Contact Me!</h1>
        <form>
            <div class="">
                <legend>
                   First Name
                </legend>
                <input name="fname" id="name" type="text">
                <legend>
                  Last Name
                </legend>
                <input name="fname" id="name" type="text">
                <legend>
                  Email
                </legend>
                <input name="fname" id="name" type="text">
                <legend>
                  Job Title
                </legend>
                <input name="fname" id="name" type="text">
                <legend>
                  Company
                </legend>
                <input name="fname" id="name" type="text">
                <legend>
                  LinkedIn
                </legend>
                <input name="fname" id="name" type="text">
                <legend>
                  Email
                </legend>
                <input name="fname" id="name" type="text">

            </div>
        </form>
    </main>
    
</body>
</html>