<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aaron Bailey's Resume</title>
  <link rel="icon" href="./imgs/icon.png">
  <link rel="stylesheet" href="styles/style.css">
</head>

<body>
  <main>
    <div class="header">

      <h1>Aaron Bailey</h1>
      <img src="./imgs/profilePicture.jpg" alt="profile picture">
    </div>
    <section class="contact">
      <h2>Contact Me</h2>
      <p><b><a href="/contact">Contact Form</a></p>
      <div class="contact-list">
        <p><b>My GitHub:</b> <a href="https://github.com/AaronB22">AaronB22</a></p>
        <p><b>Phone Number:</b> 253-XXX-XXXX</p>
        <p><b>Email:</b> bailey.aaron@greenriver.edu</p>
        <p><b>LinkIn: </b><a href="https://www.linkedin.com/in/aaron-bailey-2843303a4/"> Aaron Bailey</a></p>

      </div>


    </section>
    <section>
      <h2>Summary</h2>
      <p>Hi, I'm Aaron Bailey! I'm currently a Software Development student at Green River College in Auburn Washington. <br>
        I'm also currently a intern at Affirma Consulting, current working with Meta! <br>
        I've learned a lot of the indusrty, and there is always more to learn. And I have loved every second being a software developer! <br>
        The future is exciting, and I'm ready to face it head on! Hopefully I'm apart of your future!
      </p>
    </section>
    <section>
      <h2>Education</h2>
      <dl>
        <dt><b>Associate of the Arts</b>, at Green River College</dt>
        <dd><i>2023-2025</i></dd>
      </dl>
      <dl>
        <dt><b>Information Technology - Software Development, BAS</b>, at Green River College</dt>
        <dd><i>2026-2027</i></dd>
      </dl>
    </section>
    <section>
      <h2>Experience</h2>
      <dl>
        <dt><b>Custom Development Intern</b>, at Affirma Comsulting LLC</dt>
        <dd><i>2025-present</i></dd>
      </dl>
    </section>
    <section>
      <h2>Skills</h2>
      <h3>Languages:</h3>
      <ul class="skills">
        <li>Java</li>
        <li>JavaScript</li>
        <li>C#</li>
        <li>C++</li>
        <li>PHP</li>
      </ul>
      <h3>Libraries:</h3>
      <ul class="skills">
        <li>React.js</li>
        <li>Node.js</li>
        <li>Express.js</li>
        <li>Bootstrap</li>

      </ul>
    </section>

  </main>
</body>

</html>