.block{
    width: 600px;
    height: 600px;
    background-color:rgb(14, 150, 254);
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
    border-radius: 25px;
}
button{
    font-size: 1.5rem;
    background-color: lightgreen;
    border: none;
    border-radius:15px ;
    height: 40px;
    margin-bottom: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.btn-div{
    display: flex;
    flex-direction: column;
}
body{
    background-color: gray;
}
h1{
    font-size: 3rem;
}