html {
    background-color: rgb(244, 244, 244);
}

h1 {
    text-align: center;
}

.topForm {
    display: grid;
    grid-template-columns: auto auto auto;

}

main {
    width: 75%;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px
}

label {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 5px;
    margin-top: 20px;
}

input {
    border: 1px lightgray solid;
    border-radius: 5px;
    height: 30px;
}

.topForm input {
    width: 75%;
}

.mid-form {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}

select {
    width: 90%;
    border: 1px lightgray solid;
    border-radius: 5px;
}

#other {
    width: 80%;

}

.msg-area {
    display: flex;
    flex-direction: column;
}

textarea {
    border: 1px lightgray solid;
    border-radius: 5px;
}
.mail-list{
    display: flex;
    flex-direction: row;
}
.mail-list p{
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 800;
}
.email-format{
    display: flex;
    flex-direction: row;
}
.email-format p{
    margin-top: 10px;
}

button{
    color: white;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: green;
    font-size: 1rem;
    width: 100px;
}
.err{
    font-size: 16px;
    color: darkred;
}