.navbar{
    width: 75%;
    background-color: #EDEEEB;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid black;
    
}
.navbar a{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.5rem;
}

@media screen and (width <750px) {
    .navbar{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
    }

}
