:root {
    --primary-color: rgb(14, 150, 254);
    --sec-color: rgb(30, 116, 11);
}

html {
    font-size: 24px;
    text-align: center;
}

main {
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primary-color);
}

a:hover {
    font-weight: 800;
    color: var(--sec-color);
}

img {
    width: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 25px;
    border: 5px solid var(--sec-color);
}

h1 {
    font-size: 45px;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    border-bottom: 5px solid var(--sec-color);
    ;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 38px;
}

.contact-list p {
    margin: 30px;
    font-size: 24px;
}

.skills {
    display: grid;
    grid-template-columns: auto auto;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
ul{
    list-style: none;
}
li{
    margin-top: 20px;
    margin-bottom: 20px;
}
